html, body {
    height: 100%;
}

.backdrop-img {
    filter: brightness(55%);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 0;
}

.backdrop-img-active {
    filter: brightness(100%);
}

div.article-info{
    visibility: hidden;
    opacity: 0;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 40px;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
}

div.article-info p, h3{
    color:#F5F5F5;
    font-weight: 600;
    padding: 0;
}

.date {
    font-weight: 100;
    font-size: 1em;
}
#splash-img{
    background-image: url(images/1494479443029.jpg);
}

#article-2{
    background-image: url(images/1494538523631.jpg);
}

#article-3{
    background-image: url(images/1494702306386.jpg);
}

#article-4{
    background-image: url(images/1494980379868.jpg);
}

#article-5{
    background-image: url(images/1495329822433.jpg);
}

#article-6{
    background-image: url(images/1506548806777.jpg);
}

#article-7{
    background-image: url(images/1506913324418.jpg);
}

