#article-image  {
    background-image: url('../../images/1494479443029.jpg')
}

#article-image-2 {
    background-image: url('../../images/1494538523631.jpg')
}

#article-image-3{
    background-image: url('../../images/1494702306386.jpg')
}

#article-image-4{
    background-image: url('../../images/1494980379868.jpg')
}
#article-image-5{
    background-image: url('../../images/1495329822433.jpg')
}
#article-image-6{
    background-image: url('../../images/1506548806777.jpg')
}